# Dependencias de Node
/node_modules

# Archivos de entorno
.env
.env.local

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos de compilación y temporales
/dist
/build
/tmp

# Archivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de macOS
.DS_Store

# Archivos del sistema operativo Windows
Thumbs.db